<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="store-core"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--
                %d - date and time
                %-5level - log level (INFO, WARN, ERROR...)
                [${appName}] - service name
                [%X{traceId:-}] - traceId from MDC (empty if no trace)
                [%X{spanId:-}] - spanId from MDC
                [%thread] - thread name
                %logger{36} - logger name (class), shortened to 36 characters
                %msg%n - message itself + line break
            -->
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %-5level [${appName}] [traceId=%X{traceId:-} spanId=%X{spanId:-}] [%thread] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Suppress noise from Hibernate SQL and Kafka -->
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type.descriptor.sql" level="WARN"/>

</configuration>
